.preview-area {
  height: 200px;
  width: 400px;
  max-height: 250px;
  max-width: 90%;
  margin: 1rem auto;
  position: relative;
}

.preview-area-color-code {
  background: white;
  padding: 0.2rem;
  width: fit-content;
  margin: 1rem auto;
  font-weight: 700;
  bottom: 1rem;
  position: absolute;
  left: 0;
  right: 0;
}